.sidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid whitesmoke;
}
.sidebarChat:hover{
    background-color: rgb(196, 255, 196);
}
.sidebarChat_info{
    margin-left: 15px;
}
.sidebarChat_info>h2{
    font-size:16px;
    margin-bottom: 8px;
}
a{
    text-decoration: none !important;
    color: black;
}